.sidenav-container {
    height: 100vh;
}

.sidenav {
    overflow: hidden;
    transition: width 0.1s ease;
    display: flex;
    flex-direction: column;
}

.menu-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-left: 8px;
}

.menu-items button {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.menu-items button.active {
    background-color: rgba(175, 119, 119, 0.342);
}
.main-content {
    padding: 20px;
    transition: margin 0.3s ease;
}

