<mat-card class="magictime swashIn">
    <mat-card-title><h1>Login</h1></mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <mat-icon matPrefix>person</mat-icon>
                    <input type="email" matInput placeholder="email"
                        formControlName="email"
                        aria-invalid="false"
                        aria-required="false"
                        autocomplete="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input type="{{showCredentials? 'text': 'password'}}" matInput placeholder="Password"
                        formControlName="password"
                        autocomplete="current-password"
                        aria-invalid="false"
                        aria-required="false">
                    <mat-icon matSuffix (click)="showPassword()">{{showCredentials? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </p>

            @if(error){
            <p class="error magictime" [ngClass]="showError ? 'puffIn' : 'vanishOut'">
                {{ error }}
            </p>
            }
            <div class="d-grid gap-2 col-6 mx-auto">
                <button [disabled]="form.invalid" class="button-login"
                    type="submit" mat-button>Login</button>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="button" routerLink="/auth/register" mat-button>Go to
                    Register</a>
            </div>

        </form>
    </mat-card-content>
</mat-card>