<mat-sidenav-container class="sidenav-container" autosize>

    <mat-sidenav
      #sidenav
      [mode]="'side'"
      [(opened)]="opened"
      [style.width.px]="opened ? 200 : 60"
      class="sidenav"
    >
    <button mat-raised-button (click)="toggleTheme()">
        Cambiar a {{ isDark ? 'Tema Claro' : 'Tema Oscuro' }}
      </button>

  
      <div class="menu-items">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
          @if (opened) {
            <span >Inicio</span>
          }
        </button>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
          @if (opened) {
            <span >Configuración</span>
          }
        </button>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content class="main-content">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ opened ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>
      <h1>Contenido principal</h1>
      <p>Esto se ajusta cuando se abre o cierra el sidebar.</p>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>