<mat-card appearance="filled" class="magictime foolishIn">
    <mat-card-header>
        <mat-card-title> {{data.config.selectedDevice.name}}</mat-card-title>
        <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>

        <button matButton matTooltip="Activate"
            [disabled]="isUpdating()"
            (change)="onToggleChange()">
            <span class="material-icons ms-2 me-3">
                cyclone
            </span></button>
    </mat-card-actions>
</mat-card>