<mat-card>
    <mat-card-title><h1>Register</h1></mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <mat-icon matPrefix>person</mat-icon>
                    <input type="text" matInput placeholder="Username"
                        formControlName="username"
                        autocomplete="username"
                        aria-invalid="false"
                        aria-required="false">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix>email</mat-icon>
                    <input type="email" matInput placeholder="Email"
                        formControlName="email"
                        autocomplete="email"
                        aria-invalid="false"
                        aria-required="false">
                    @if (form.get('email')?.hasError('required')) {
                    <mat-error>
                        Email is required
                    </mat-error>
                    }
                    @if (form.get('email')?.hasError('email')) { <mat-error>
                        Enter a valid email address
                    </mat-error>}

                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input type="password" matInput placeholder="Password"
                        formControlName="password"
                        aria-invalid="false"
                        aria-required="false"
                        autocomplete="current-password">
                </mat-form-field>
            </p>

            @if(error){
            <p class="error">
                {{ error }}
            </p>
            }
            <div class="d-grid gap-2 col-6 mx-auto">
                <button [disabled]="form.invalid" class="button-register" type="button"
                    mat-button>Register</button>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="button" routerLink="/auth/login" mat-button>Go to
                    Login</a>
            </div>

        </form>
    </mat-card-content>
</mat-card>